#to_do_section {
	margin: 40px;
	width: 100%;
}

#list_name {
	color: #006064;
	font-size: 30px;
	transition: 1s;
}

#divider {
	height: 2px;
	margin: 8px 0px 18px 0px;
	background-color: #006064;
	transition: 1s;
}

/* #sidebar-toggle {
  position: absolute;
  left: 0;
  bottom: 0;
  border: 0;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 96, 100, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 4rem;
  outline: none;
  transition: 0.3s;
}

#sidebar-toggle:hover {
  background-color: #006064;
} */
