#dashboard {
    display: flex;
    flex-direction: row;
}

/* Sidebar */
#sidebar {
    position: static;
    background-color: #00ACC1;
    color: white;
    width: 400px;
    min-height: 100vh;
}

#search_section {
    display: flex;
    flex-direction: row;
    border: 1px solid #006064;
    padding-left: 16px;
    height: 40px;
    border-radius: 5rem;
    background-color: white;
    margin: 30px;
    box-shadow: 0 0 10px #006064;
}

#search_section:focus {
    /* box-shadow: 0 0 5px #8a8a8a; */
}

#search-input {
    width: 100%;
    border: 0;
    margin: auto;
    outline: none;
}

#search_section button {
    border: 0;
    color: #006064;
    font-size: 16px;
    background-color: transparent;
    width: 40px;
    border-radius: 4rem;
    outline: none;
}

#search_section button:hover {
    background-color: #006064;
    color: white;
}

#add_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#add_list button {
    border: 0;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 96, 100, .5);
    width: 40px;
    height: 40px;
    border-radius: 4rem;
    outline: none;
}

#add_list button:hover {
    /* box-shadow: 0 0 1px #000; */
    background-color: #006064;
    
}

@media only screen and (max-width: 670px) {
    #sidebar {
        width: 100%;
    }
}