#navbar {
    background-color: #0097A7;
    padding: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#navbar-name {
    color: white;
    text-decoration: none;
}

#bar {
    font-size: 30px;
    color: #fff;
    opacity: .7;
    border: 0;
    background: transparent;
    outline: none;
}